In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
#!pip install yfinance
import yfinance as yf
import pandas as pd

In [2]:
#Collection and Preprocessing of Data
BTC = yf.Ticker('BTC-USD')
ETH = yf.Ticker('ETH-USD')

BTC_hist = BTC.history(period="max", auto_adjust=True)
BTC_df = pd.DataFrame()
BTC_df['Date'] = BTC_hist.index
BTC_df['Close'] = BTC_hist['Close'].values
BTC_df['Open'] = BTC_hist['Open'].values
BTC_df['High'] = BTC_hist['High'].values
BTC_df['Low'] = BTC_hist['Low'].values
BTC_df['Volume'] = BTC_hist['Volume'].values
BTC_df=BTC_df.tail(1000)
BTC_df

,Date,Close,Open,High,Low,Volume
2144,2020-07-31 00:00:00+00:00,11323.466797,11110.210938,11415.864258,10987.053711,23160469766
2145,2020-08-01 00:00:00+00:00,11759.592773,11322.570312,11794.775391,11239.682617,26075670303
2146,2020-08-02 00:00:00+00:00,11053.614258,11758.764648,12034.144531,11018.129883,27410067336
2147,2020-08-03 00:00:00+00:00,11246.348633,11043.768555,11453.079102,11012.415039,20271713443
2148,2020-08-04 00:00:00+00:00,11205.892578,11246.203125,11385.381836,11094.145508,21250197042
...,...,...,...,...,...,...
3139,2023-04-22 00:00:00+00:00,27817.500000,27265.894531,27872.142578,27169.570312,13125734602
3140,2023-04-23 00:00:00+00:00,27591.384766,27816.144531,27820.244141,27400.314453,12785446832
3141,2023-04-24 00:00:00+00:00,27525.339844,27591.730469,27979.982422,27070.849609,17703288330
3142,2023-04-25 00:00:00+00:00,28307.597656,27514.873047,28371.078125,27207.931641,17733373139
3143,2023-04-26 00:00:00+00:00,28279.839844,28281.115234,29995.837891,27440.910156,31422896128

In [3]:
BTC_df.to_csv('BTC_USD.csv', index=False)

In [4]:
ETH_hist = ETH.history(period="max", auto_adjust=True)
ETH_df = pd.DataFrame()
ETH_df['Date'] = ETH_hist.index
ETH_df['Close'] = ETH_hist['Close'].values
ETH_df['Open'] = ETH_hist['Open'].values
ETH_df['High'] = ETH_hist['High'].values
ETH_df['Low'] = ETH_hist['Low'].values
ETH_df['Volume'] = ETH_hist['Volume'].values
ETH_df=ETH_df.tail(1000)
ETH_df

,Date,Close,Open,High,Low,Volume
995,2020-07-31 00:00:00+00:00,345.554657,334.633728,348.611359,329.340942,12030600492
996,2020-08-01 00:00:00+00:00,385.199707,345.798615,388.847961,343.587433,14045259477
997,2020-08-02 00:00:00+00:00,370.671722,385.549866,411.228302,357.143646,18909744275
998,2020-08-03 00:00:00+00:00,386.295166,371.133850,396.506989,369.336334,12834648062
999,2020-08-04 00:00:00+00:00,389.875488,386.156464,400.700623,382.985107,14086704221
...,...,...,...,...,...,...
1990,2023-04-22 00:00:00+00:00,1874.228638,1849.286499,1886.781616,1845.849243,6970642726
1991,2023-04-23 00:00:00+00:00,1862.062012,1874.171509,1882.229736,1838.992432,6607451862
1992,2023-04-24 00:00:00+00:00,1842.757446,1862.085327,1888.193726,1811.792114,8438191338
1993,2023-04-25 00:00:00+00:00,1866.753662,1842.204346,1877.484985,1805.322876,8677255481
1994,2023-04-26 00:00:00+00:00,1857.086548,1864.823853,1962.075317,1806.893677,14280119296

In [5]:
ETH_df.to_csv('ETH_USD.csv', index=False)

In [6]:
Crypto_data = pd.concat([BTC_df.set_index('Date'), ETH_df.set_index('Date')],
                         axis=1, keys=['BTC', 'ETH'])

Crypto_data.columns = Crypto_data.columns.map('_'.join)
Crypto_data = Crypto_data.reset_index()
Crypto_data

,Date,BTC_Close,BTC_Open,BTC_High,BTC_Low,BTC_Volume,ETH_Close,ETH_Open,ETH_High,ETH_Low,ETH_Volume
0,2020-07-31 00:00:00+00:00,11323.466797,11110.210938,11415.864258,10987.053711,23160469766,345.554657,334.633728,348.611359,329.340942,12030600492
1,2020-08-01 00:00:00+00:00,11759.592773,11322.570312,11794.775391,11239.682617,26075670303,385.199707,345.798615,388.847961,343.587433,14045259477
2,2020-08-02 00:00:00+00:00,11053.614258,11758.764648,12034.144531,11018.129883,27410067336,370.671722,385.549866,411.228302,357.143646,18909744275
3,2020-08-03 00:00:00+00:00,11246.348633,11043.768555,11453.079102,11012.415039,20271713443,386.295166,371.133850,396.506989,369.336334,12834648062
4,2020-08-04 00:00:00+00:00,11205.892578,11246.203125,11385.381836,11094.145508,21250197042,389.875488,386.156464,400.700623,382.985107,14086704221
...,...,...,...,...,...,...,...,...,...,...,...
995,2023-04-22 00:00:00+00:00,27817.500000,27265.894531,27872.142578,27169.570312,13125734602,1874.228638,1849.286499,1886.781616,1845.849243,6970642726
996,2023-04-23 00:00:00+00:00,27591.384766,27816.144531,27820.244141,27400.314453,12785446832,1862.062012,1874.171509,1882.229736,1838.992432,6607451862
997,2023-04-24 00:00:00+00:00,27525.339844,27591.730469,27979.982422,27070.849609,17703288330,1842.757446,1862.085327,1888.193726,1811.792114,8438191338
998,2023-04-25 00:00:00+00:00,28307.597656,27514.873047,28371.078125,27207.931641,17733373139,1866.753662,1842.204346,1877.484985,1805.322876,8677255481
999,2023-04-26 00:00:00+00:00,28279.839844,28281.115234,29995.837891,27440.910156,31422896128,1857.086548,1864.823853,1962.075317,1806.893677,14280119296

In [7]:
Crypto_data['average'] = (Crypto_data['BTC_Close'] + Crypto_data['ETH_Close']) / 2
#Crypto_data=Crypto_data.tail(1000)
Crypto_data

,Date,BTC_Close,BTC_Open,BTC_High,BTC_Low,BTC_Volume,ETH_Close,ETH_Open,ETH_High,ETH_Low,ETH_Volume,average
0,2020-07-31 00:00:00+00:00,11323.466797,11110.210938,11415.864258,10987.053711,23160469766,345.554657,334.633728,348.611359,329.340942,12030600492,5834.510727
1,2020-08-01 00:00:00+00:00,11759.592773,11322.570312,11794.775391,11239.682617,26075670303,385.199707,345.798615,388.847961,343.587433,14045259477,6072.396240
2,2020-08-02 00:00:00+00:00,11053.614258,11758.764648,12034.144531,11018.129883,27410067336,370.671722,385.549866,411.228302,357.143646,18909744275,5712.142990
3,2020-08-03 00:00:00+00:00,11246.348633,11043.768555,11453.079102,11012.415039,20271713443,386.295166,371.133850,396.506989,369.336334,12834648062,5816.321899
4,2020-08-04 00:00:00+00:00,11205.892578,11246.203125,11385.381836,11094.145508,21250197042,389.875488,386.156464,400.700623,382.985107,14086704221,5797.884033
...,...,...,...,...,...,...,...,...,...,...,...,...
995,2023-04-22 00:00:00+00:00,27817.500000,27265.894531,27872.142578,27169.570312,13125734602,1874.228638,1849.286499,1886.781616,1845.849243,6970642726,14845.864319
996,2023-04-23 00:00:00+00:00,27591.384766,27816.144531,27820.244141,27400.314453,12785446832,1862.062012,1874.171509,1882.229736,1838.992432,6607451862,14726.723389
997,2023-04-24 00:00:00+00:00,27525.339844,27591.730469,27979.982422,27070.849609,17703288330,1842.757446,1862.085327,1888.193726,1811.792114,8438191338,14684.048645
998,2023-04-25 00:00:00+00:00,28307.597656,27514.873047,28371.078125,27207.931641,17733373139,1866.753662,1842.204346,1877.484985,1805.322876,8677255481,15087.175659
999,2023-04-26 00:00:00+00:00,28279.839844,28281.115234,29995.837891,27440.910156,31422896128,1857.086548,1864.823853,1962.075317,1806.893677,14280119296,15068.463196

In [8]:
Crypto_data['total_Volume'] = (Crypto_data['BTC_Volume'] +
                                Crypto_data['ETH_Volume'])

Crypto_data

,Date,BTC_Close,BTC_Open,BTC_High,BTC_Low,BTC_Volume,ETH_Close,ETH_Open,ETH_High,ETH_Low,ETH_Volume,average,total_Volume
0,2020-07-31 00:00:00+00:00,11323.466797,11110.210938,11415.864258,10987.053711,23160469766,345.554657,334.633728,348.611359,329.340942,12030600492,5834.510727,35191070258
1,2020-08-01 00:00:00+00:00,11759.592773,11322.570312,11794.775391,11239.682617,26075670303,385.199707,345.798615,388.847961,343.587433,14045259477,6072.396240,40120929780
2,2020-08-02 00:00:00+00:00,11053.614258,11758.764648,12034.144531,11018.129883,27410067336,370.671722,385.549866,411.228302,357.143646,18909744275,5712.142990,46319811611
3,2020-08-03 00:00:00+00:00,11246.348633,11043.768555,11453.079102,11012.415039,20271713443,386.295166,371.133850,396.506989,369.336334,12834648062,5816.321899,33106361505
4,2020-08-04 00:00:00+00:00,11205.892578,11246.203125,11385.381836,11094.145508,21250197042,389.875488,386.156464,400.700623,382.985107,14086704221,5797.884033,35336901263
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2023-04-22 00:00:00+00:00,27817.500000,27265.894531,27872.142578,27169.570312,13125734602,1874.228638,1849.286499,1886.781616,1845.849243,6970642726,14845.864319,20096377328
996,2023-04-23 00:00:00+00:00,27591.384766,27816.144531,27820.244141,27400.314453,12785446832,1862.062012,1874.171509,1882.229736,1838.992432,6607451862,14726.723389,19392898694
997,2023-04-24 00:00:00+00:00,27525.339844,27591.730469,27979.982422,27070.849609,17703288330,1842.757446,1862.085327,1888.193726,1811.792114,8438191338,14684.048645,26141479668
998,2023-04-25 00:00:00+00:00,28307.597656,27514.873047,28371.078125,27207.931641,17733373139,1866.753662,1842.204346,1877.484985,1805.322876,8677255481,15087.175659,26410628620
999,2023-04-26 00:00:00+00:00,28279.839844,28281.115234,29995.837891,27440.910156,31422896128,1857.086548,1864.823853,1962.075317,1806.893677,14280119296,15068.463196,45703015424

In [9]:
for crypto in ['BTC', 'ETH']:
    Crypto_data[f'{crypto}_percentage'] = (Crypto_data[f'{crypto}_Volume'] /
                                           Crypto_data['total_Volume']) * 100

In [10]:
# Convert the data to CSV format
Crypto_data.to_csv('Crypto_data.csv', index=False)